daemon off;

events {
}

http {
    server {
        listen 2020;
        location / {
            proxy_pass http://localhost:1990;
        }
        location /api {
            proxy_pass http://localhost:2000;
        }
        location /api/spider {
            proxy_pass http://localhost:2001;
        }
    }
}
